<header>
    <a href="/index" class="logo"><img src="images/logo.png" alt="Logo"></a>

    
    <% if(!(title == 'Login')){%>
        <% if(title == 'Shop'){ %>
            <div class="search-nav">
        <% } %>
        <div class="searchbox">
            <form action="">
                <button onclick=""><i class="bx bx-search"></i></button>
                <input type="search" placeholder="Search items">
            </form>
        </div>
            <% if(title == 'Shop') {%>
            <nav class="shop-nav">
                <ul>
                    <li>Women</li>
                    <li>Men</li>
                    <li>Hats</li>
                    <li>Watches</li>
                    <li>Bags</li>
                    <li>Shoes</li>
                </ul>
            </nav>
            <% } %>
        
        <% if(title == 'Shop'){ %>
            </div>
        <% } %>
    <%}%>
    

    <div class="navigation">
        <% if(!(title == 'Login')){%>
            <a href="/index"><i class="bx bx-home"></i></a>
            <a href="/profile"><i class="bx bx-user"></i></a>
            <div class="cart">
                <h4>0</h4>
                <a href="/cart"><i class="bx bx-cart"></i></a>
            </div>
        <%}%>
        

        <div class="menu-bar" id="menu">
            <a href="javascript:void(0)" class="closebtn" onclick="closeMenu()">&times;</a>
            <a href="/index">Home</a>
            <a href="/shop">Shop</a>
            <a href="/profile">Profile</a>
            <a href="#">My Cart</a>
            <a href="/about">About Us</a>

            <div class="color-btn">
                <div class="color-btn-container">
                    <div class="color-btn-icon">
                        <i class="color-btn-switch bx"></i>
                    </div>
                </div>
            </div>
        </div>

        <span onclick="openMenu()"><i class="bx bx-menu" id="menui"></i></span>
    </div>
    
</header>