<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs')%>

    <h1 style="text-align: center;">404 - Page not Found</h1>

    <%- include('./partials/footer.ejs')%>
</body>
    <%- include('./partials/footer.ejs') %>
</html>