<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/header.ejs') %>

    <section class="about">
        <h1>About Us</h1>
        <p>Mood is a trendy and vibrant clothing store that has been created by a team of students from FCDS (Fashion and Clothing Design School). The store aims to offer a wide range of fashionable clothing for both men and women, catering to all different styles and tastes.
            The store's layout is clean and modern, with bright lighting and minimalist displays that allow the clothing to speak for itself. Each piece of clothing is carefully selected by the FCDS team, ensuring that only the best quality and most stylish pieces are featured in the store.            
            Mood offers a variety of clothing options, including casual wear, formal wear, sportswear, and accessories, all at affordable prices. The store is constantly updating its collection with the latest fashion trends, so customers can always find something new and exciting to wear.
            One of the unique aspects of Mood is the personalized styling service offered by the FCDS team. Customers can book an appointment with one of the store's stylists, who will provide personalized fashion advice and help customers put together outfits that suit their individual style and preferences.
            Overall, Mood is a clothing store that embodies the creative and innovative spirit of the FCDS team. It offers a fresh and exciting shopping experience that is sure to leave customers feeling inspired and fashion-forward.</p>
    </section>

    <section class="founders">
        <h1>meet the <span id="f">founders</span></h1>
        <div class="founders-container">
            <div class="card">
                <div class="card-content">
                    <div class="image">
                        <img src="images/kiro.jpg" alt="">
                    </div>
                    <div class="social">
                        <a href=""><i class='bx bxl-twitter' ></i></a>
                        <a href=""><i class='bx bxl-linkedin-square' ></i></a>
                        <a href=""><i class='bx bxl-github' ></i></a>
                    </div>
                    <h2>Kirollos Maged</h2>
                    <h3>CTO of MOOD company</h3>
                    <p>"Good Artists copy, Great Artists steal"</p>
                </div>
                
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="image">
                        <img src="images/7odda.jpg" alt="">
                    </div>
                    <div class="social">
                        <a href=""><i class='bx bxl-twitter' ></i></a>
                        <a href=""><i class='bx bxl-linkedin-square' ></i></a>
                        <a href=""><i class='bx bxl-github' ></i></a>
                    </div>
                    <h2>Mahmoud Shehab</h2>
                    <h3>CEO of MOOD company</h3>
                    <p>"There is no joy without pain"</p>
                </div>
                
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="image">
                        <img src="images/toupgy.jpg" alt="">
                    </div>
                    <div class="social">
                        <a href=""><i class='bx bxl-twitter' ></i></a>
                        <a href=""><i class='bx bxl-linkedin-square' ></i></a>
                        <a href=""><i class='bx bxl-github' ></i></a>
                    </div>
                <h2>Mohamed El Tobgui</h2>
                <h3>CFO of MOOD company</h3>
                <p>"AI is Way More Danger Than Nukes"</p>
                </div>
            </div>
        </div>
        
    </section>

    <%- include('./partials/footer.ejs') %>

    <script src="js/menu.js"></script>
</body>
</html>