<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <h1>Your Cart</h1>
        <%=  currentUser.username %>
        <div class="cart-items">
            <hr>
            <div class="item">
                <div class="item-image">
                    <img src="images/f1.jpg" alt="product image">
                </div>
                <div class="item-info">
                    <h3>Men's Flowers T-shirt</h3>
                    <p>$29.99</p>
                    <div class="quantity">
                        <button disabled="true" id="minus"><i class="bx bx-minus"></i></button>
                        <span>1</span>
                        <button id="plus"><i class="bx bx-plus"></i></button>
                    </div>
                </div>
                
            </div>
            <hr>
    </main>

    <%- include('./partials/footer.ejs') %>
    <script src="js/menu.js"></script>
    
</body>
</html>