@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    padding-bottom: 320px;
    font-family: 'Poppins', sans-serif;
}

main{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
    /* background-color: red; */
}

.container{
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.product-image{
    position: relative;
    left: 5%;
    width: fit-content;
}

.product-image img{
    width: 550px;
    height: auto;
}

.product-image .nav{
    position: relative;
    bottom: 10px;
}

.nav a{
    position: relative;
    bottom: 2px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav a:hover{
    color: var(--Primary);
}

.product-container{
    position: absolute;
    top: -5px;
    right: 55px;
    width: 50%;
}

.product-container h1{
    margin-bottom: 10px;
}

.product-options{
    position: relative;
    top: 25px;
    height: 15vh;
    margin: 10px 0;
}

.product-options p{
    position: relative;
    /* left: 5px; */
    top: -25px;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}
.product-options hr{
    width: 50%;
}

.product-options h5{
    color: red;
    margin-top: 10px;
}

.size{
    position: relative;
    top: -25px;
    /* display: block; */
}

.size h3{
    margin-bottom: 5px;
}
.size button{
    margin-right: 5px;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 18px;
    border: none;
}
.size button:hover{
    border: 2px solid black;
}

.size .sizeBtn{
    display: none;
}
.size label{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid rgb(157, 157, 157);
    padding: 0 20px;
    margin-right: 5px;
    cursor: pointer;
}
.size label:hover{
    border: 2px solid rgb(102, 102, 102);
}

.sizeBtn:checked + label{
    border: 2.2px solid black;
}

.size .active{
    border: 2px solid black;
}


.color{
    margin-top: 5px;
}
.color button{
    margin-top: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
}

.color button:hover{
    border: 2px solid black;
}

.color .active{
    border: 2px solid black;
}

.color .colorBtn{
    display: none;
}
.color label{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid rgb(157, 157, 157); */
    /* border-radius: 50%; */
    overflow: hidden;
    /* padding: 0 30px; */
    margin-right: 5px;
    cursor: pointer;
}
.color label img{
    border: 2px solid rgb(157, 157, 157);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.color label img:hover{
    border: 2px solid rgb(102, 102, 102);
}

.colorBtn:checked + label img{
    border: 2.2px solid black;
}



.quantity{
    margin-top: 25px;
    margin-bottom: 10px;
}
.quantity h3{
    margin-bottom: 8px;
}

.quantity span{
    margin: 0 5px;
    font-size: 20px;
    font-weight: 500;
}

.quantity button{
    cursor: pointer;
}

.quantity button i{
    font-size: 20px;
    font-weight: 600;
}

.add-btn{
    margin-top: 20px;
    /* margin-left: 35px; */
    border-radius: 25px;
    background-color: var(--Primary);
    padding: 5px;
    outline: none;
    width: 150px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: .1s ease-in-out;
}

.add-btn:hover{
    background-color: transparent;
    text-decoration: underline;
    color: var(--Primary);
}

.product-info{
    position: relative;
    top: 250px;
}

.hr{
    position: relative;
    top: 70px;
    width: 80%;
    margin-left: 10%;
}
.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 250px;
}
.reviews h1{
    font-size: 28px;
}
.reviews-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.review-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}


.bar{
    background: var(--Primary);
    width: 0;
    margin: .25em 0;
    color: black;
    position: relative;
    transition: width 2s , background .2s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    clear: both;
}
.bar .label{
    font-size: .753m;
    padding: 1em;
    background: black;
    width: 7em;
    display: inline-block;
    position: relative;
    z-index: 2;
    font-weight: bold;
}
.count{
    position: absolute;
    right: .25em;
    top: .75em;
    padding: .15em;
    font-size: .75em;
    font-weight: bold;
}

.popup-container{
    width: 100%;
    height: 100%;
    background: rgba(38, 38, 38,.7);
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    visibility: hidden;
    z-index: 500;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    margin-top: 150px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 180px;
    transform: translate(-50%,-50%) scale(1);
    z-index: 5;
}
.blur{
    visibility: visible;
}
.popup p{
    font-size: 18px;
    font-weight: 550;
}
.popup h2{
    font-size: 34px;
    font-weight: 500;
    margin: 20px 0 10px;
}
.popup .button{
    width: 50%;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: var(--Primary);
    color: #fff;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}
.popup .button:hover{
    color: var(--Primary);
    text-decoration: underline;
    background-color: white;
}
.button:hover a{
    color: var(--Primary);
}
.popup img{
    width: 250px;
    height: 250px;
    margin-top: 10px;
}

.popup a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}