@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    padding-bottom: 320px;
    font-family: 'Poppins', sans-serif;
}

header{
    height: 110px;
    align-items: start;
}
.search-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchbox{
    width: 300px;
}
.shop-nav ul{
    position: relative;
    top: 21px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
}
.shop-nav ul li{
    padding: 5px 15px;
    font-weight: 550;
    transition: .1s;
}
.shop-nav ul li:hover{
    background-color: rgb(217, 217, 217);
}

.banner img{
    width: 180%;
    left: 0;
    z-index: 1;
}
.banner{
    margin-top: 108px;
    background: url('/images/b2.jpg');
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h1{
    color: white;
    position: absolute;
    z-index: 100;
    font-size: 40px;
    font-weight: 700;
}


main{
    margin-top: 85px;
    padding-bottom: 200px;
    background-color: #fbf2f2;
}

.products{
    position: relative;
    left: 7.5%;
    width: 85%;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 8px;
}
.row{
    width: 300px;
}

.row img{
    width: 300px;
    height: 350px;
}

.darkmode main{
    background-color: #333333;;
}
.darkmode .shop-nav ul li{
    color:#fbf2f2
}
.darkmode .shop-nav ul li:hover{
    color:#151515
}