@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --Primary: #1152ad; 
    --Secondary: #f4f4f3;
    --Teritary: #8b8989;

    --dark-color:#2b2b2b;
    --dark-icon-color:#fff;
    --light-color:#f7f7f7;
    --light-icon-color:#ffde59;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
}

body{
    position: relative;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background: #fff;
}
.logo img{
    max-width: 155px;
    height: auto;
}
.searchbox{
    border: 2px solid #111;
    border-radius: 30px;
    background: transparent;
    align-items: center;
}
.searchbox input{
    padding: 5px;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    border: transparent;
    background: transparent;
}
.searchbox button{
    position: relative;
    top: 2px;
    left: 2px;
    padding: 5px;
    font-size: 20px;
    outline: none;
    background: transparent;
    border: none;
    color: #111;
}

.navigation{
    display: flex;
    align-items: center;
}

.navigation i{
    color: #111;
    font-size: 25px;
    font-weight: 400;
    margin-right: 20px;
    transition: all .42s ease;
}

.navigation i:hover{
    transform: scale(1.1);
    color: var(--Primary);
}

.menu-bar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f4f4f4;
    overflow: hidden;
    padding-top: 60px;
    transition: .5s;
}

.menu-bar a{
    text-decoration: none;
    color: #151515;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    display: block;
    transition: .3s;
}

.menu-bar a:hover{
    color: var(--Primary);
}

.menu-bar .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menui{
    font-size: 35px;
    color: #111;
    z-index: 10001;
    cursor: pointer;
}

section{
    padding: 5% 10%;
}
.main-home{
    width: 100%;
    height: 110vh;
    background-image: url(C:/Users/mshmo/OneDrive/Desktop/top_site/Project/images/home.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

.main-text h5 {
    color: var(--Primary);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-text h1{
    color: #000;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text p{
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    color: #111;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    border-radius: 10px;
    padding: 12px 25px;
    cursor: pointer;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: black;
    color: white;
}
.down-arrow{
    position: absolute;
    top: 92.5%;
    right: 5%;
}
.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
    border-radius: 50px;
    padding: 8px 8px;
    }
.down i:hover{
    background-color: #2c2c2c;
    color:#fff;
    transition: all .42s ease;
}

/* trending */
.trending-product{
    background-color: #ede6e6;
    padding-bottom: 400px;
}
.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin: 20px 30px;
}
.center-text span{
    color: var(--Primary);
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    gap: 2rem;
}
.row{
    position: relative;
    transition: all .40s;
}
.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}
.row img:hover{
    transform: scale(0.9);
    cursor: pointer;
}
.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: rgb(246, 13, 36);
    cursor: pointer;
}
.ratting i{
    color: #ff8c00;
    font-size: 18px;
}
.price h4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.price p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}

/* Footer */
footer{
    position:absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    border-top: 1px solid #ede6e6;
    background-color: #fff;
    padding: 70px 0;
    font-size: 'Poppins', sans-serif;
}
footer ul{
    list-style: none;
}

.footer-container{
    max-width: 1200px;
    margin: auto;
    position: relative;
    left: 50px;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
    margin:  0 50px;
}
.footer-col h4{
    font-size: 18px;
    color: #1f1f1f;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    width: fit-content;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #1f1f1f;
    height: 2px;
    width: 100%;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 17px;
    text-transform: capitalize;
    color: #202020;
    text-decoration: none;
    font-weight: 300;
    width: fit-content;
    display: block;
    transition: .5s;
}

.footer-col ul li a:hover{
    transform: translateX(4px);
}
.footer-col i{
    font-size: 22px;
    color: #1f1f1f;
    transition: .3s;
}
.footer-col i:hover{
    transform: translateY(-4px);
}

.footer-col img{
    position: relative;
    top: 30px;
    max-width: 155px;
    height: auto;
}

.footer-copyrights{
    position: relative;
    top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-copyrights hr{
    width: 40%;
    height: 2.3px;
    background-color: #111;
}
.footer-copyrights p{
    position: relative;
    top: 2px;
    color: #111;
}

.color-btn{
    background-color: #fff;
    width: 50px;
    height: 25px;
    border-radius: 20px;

    box-shadow: inset 0 8px 60px rgba(0, 0, 0, .1),
                inset 0 8px 8px rgba(0, 0, 0, .1),
                inset 0 -4px 4px rgba(0, 0, 0, .1);
    
    position: relative;
    left: 30px;
    align-items: center;

    cursor: pointer;
}

.color-btn-container{
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;

    position: absolute;
    box-shadow: 0 8px 40px rgba(0,0,0,.2);

    transition: transform .3s ease;
}

.color-btn-icon{
    width: 100%;
    height: 100%;
    position: relative;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-btn-switch{
    color: var(--light-icon-color);
    font-size: 18px;
}

/* Animation */
.color-btn-switch.animated{
    animation: spin .5s;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

/* DARK MODE */

.darkmode .trending-product{
    background-color: #333333;
}

.darkmode header{
    background-color: #24262b;
}
.darkmode .color-btn{
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, .3),
                inset 8px 0 8px rgba(0, 0, 0, .3),
                inset 0 -4px 4px rgba(0, 0, 0, .3);
}
.darkmode .color-btn-container{
    transform: translateX(25px);
    background-color: var(--dark-color);
    box-shadow: 0 8px 40px rgba(0,0,0,.3);
}

.darkmode .color-btn-switch{
    color: var(--dark-icon-color);
}


.darkmode .price h4{
    color: #fbf2f2;
}
.darkmode .price p{
    color: #fbf2f2;
}

.darkmode .searchbox{
    border: 2px solid #fbf2f2;
}

.darkmode .navigation i{
    color: #fbf2f2;
}
.darkmode .menu-bar{
    background-color: #151515;
}

.darkmode .menu-bar a{
    color: #fbf2f2;
}

.darkmode #menui{
    color: #fbf2f2;
}
.darkmode .searchbox button{
    color: #fbf2f2;
}




.darkmode .center-text h2{
    color: var(--Teritary);
}




.darkmode .contact{
    background-color: #1f1f1f;
}

.darkmode .contact-info p{
    color: var(--Teritary);
}

.darkmode .socials i{
    color: var(--Teritary);
}

.darkmode .contact-info h4{
    color: #f1e5e5;
}

.darkmode .contact p{
    color: var(--Teritary);
}

.darkmode footer{
    border-top: 1px solid #2b2b2b;
    background-color: #24262b;
}

.darkmode .footer-col h4{
    color: #fff;
}
.darkmode .footer-col h4::before{
    background-color: #fff;
}

.darkmode .footer-col ul li a{
    color: #6e6d6d;
}
.darkmode .footer-col i{
    color: #fff;
}
.darkmode .footer-copyrights p{
    color: #fff;
}
.darkmode .footer-copyrights hr{
    background-color: #fff;
}