*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
header.sticky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0 /10%);
}
.logo img{
    max-width: 155px;
    height: auto;
}
.searchbox{
    border: 2px solid #111;
    border-radius: 30px;
    background: transparent;
    align-items: center;
}
.searchbox input{
    padding: 5px;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    border: transparent;
    background: transparent;
}
.searchbox button{
    position: relative;
    top: 2px;
    left: 2px;
    padding: 5px;
    font-size: 20px;
    outline: none;
    background: transparent;
    border: none;
}
.navigation{
    display: flex;
    align-items: center;
}
.navigation i{
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    margin-right: 20px;
    transition: all .42s ease;
}
.navigation i:hover{
    transform: scale(1.1);
    color: rgb(255, 87, 115);
}
#menu{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
section{
    padding: 5% 10%;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(Project/images/home.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

.main-text h5 {
    color: rgb(255, 87, 115);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-text h1{
    color: #000;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text p{
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    color: #111;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    border-radius: 10px;
    padding: 12px 25px;
    cursor: pointer;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: black;
    color: white;
}
.down-arrow{
    position: absolute;
    top: 92.5%;
    right: 5%;
}
.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
    border-radius: 50px;
    padding: 8px 8px;
    }
.down i:hover{
    background-color: #2c2c2c;
    color:#fff;
    transition: all .42s ease;
}

/* trending */

.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin: 20px 30px;
}
.center-text span{
    color: rgb(255, 87, 115);
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    gap: 2rem;
}
.row{
    position: relative;
    transition: all .40s;
}
.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}
.row img:hover{
    transform: scale(0.9);
    cursor: pointer;
}
.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: rgb(255, 87, 115);
    cursor: pointer;
}
.ratting i{
    color: #ff8c00;
    font-size: 18px;
}
.price h4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.price p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}

/*  */
.contact{
    background-color: #f3f4f6;
}
.contact p{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}
.contact hr{
    margin-top: 15px;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,auto));
    gap: 3rem;
}
.contact-info h4{
    color: #212522;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: rgb(255, 87, 115);
}
.first-info img{
    width: 155px;
    height: auto;
}
.socials i{
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}
.socials i:hover{
    transform: scale(1.3);
    color: rgb(255, 87, 115);
}
